<h1>Terrain Tool</h1>

<div class="terrain-buttons">
  <div class="button-row">
    <app-terrain-selector-button name="Arctic" terrainType="TR_ARCTIC"></app-terrain-selector-button>
    <app-terrain-selector-button name="Coast" terrainType="TR_COAST"></app-terrain-selector-button>
    <app-terrain-selector-button name="Desert" terrainType="TR_DESERT"></app-terrain-selector-button>
    <app-terrain-selector-button name="Forest" terrainType="TR_FOREST"></app-terrain-selector-button>
  </div>

  <div class="button-row">
    <app-terrain-selector-button name="Grassland" terrainType="TR_GRASSLAND"></app-terrain-selector-button>
    <app-terrain-selector-button name="Mountain" terrainType="TR_MOUNTAIN"></app-terrain-selector-button>
    <app-terrain-selector-button name="Swamp" terrainType="TR_SWAMP"></app-terrain-selector-button>
    <app-terrain-selector-button name="None" terrainType="TR_NONE"></app-terrain-selector-button>
  </div>
</div>